{% if flash.hasValues %}
    <div class="max-w-md mx-auto bg-yellow-50 border-l-4 border-yellow-400 p-4 mt-4">
        <div class="flex">
            <div class="ml-3">
                <p class="text-sm text-yellow-700">
                    {{ flash.get('error') }}
                </p>
            </div>
        </div>
    </div>
{% endif %}