.form__wrapper {
    position: relative;
    margin: 50px auto;
    width: 450px;
    background: #6a58a0;
    border-radius: 25px;
    box-shadow: 5px 10px 15px rgb(19, 0, 60);
}

.form__wrapper h1 {
    text-align: center;
    color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid rgb(30, 1, 94);
}

.form__wrapper form {
    padding: 10px 40px;
    box-sizing: border-box;
}

.form__field {
    position: relative;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.form__field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.form__field select {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    text-align: center;
}

.form__field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.form__field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(30, 1, 94);
    transition: .5s;
}

.form__field input:focus ~ label,
.form__field input:valid ~ label {
    top: -5px;
    color: rgb(30, 1, 94);
}

.form__field input:focus ~ span::before,
.form__field input:valid ~ span::before {
    width: 100%;
}

.form__button {
    margin: 2px 35px;
    width: 80%;
    height: 50px;
    border: none;
    background-color: #56438f;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 5px 7px #7d6bb6;
}

.form__button:hover {
    background-color: #4d3991;
    color: #fff;
    transition: 0.5s ease-in-out;
}