.header__wrapper {
    background-color: #431CA0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}


.nav__list {
    list-style: none;
    margin: 30px 40px;
    padding: 0;
    display: flex;
    gap: 30px;
}

.nav__tittle {
    text-decoration: none;
    color: black;
    font-size: 50px;
    padding: 30px 100px;
    margin: 0;
}

.nav__link {
    text-decoration: none;
    color: rgb(220, 228, 253);
    font-size: 50px;
}

.nav__link:hover {
    color: #555e8d;
    transition: 0.5s ease-in-out;
}

.nav__name {
    color: #000000;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 400px;
}

